<!-- 
    The patients.ejs file displays the patients 
    that are stored in the database. Each patient
    name as well as the attributes associated with
    that patient are displayed in a list format on
    this page. Each patient entity on this page can
    be edited or removed. A new patient can also 
    be added to the databases through this page.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- 
        Send a message to the user alterting them that they made 
        a change to the PATIENT database. This message is only
        executed if the user created, updated, or removed (deleted)
        a patient.
    -->
    <% if(patientChange.length > 0) { %>
        <div class="patientElementToFadeInAndOut patient-message-format">
            <h1 class="patient-confirmation" style="font-size: 45px !important;"><%= patientChange %></h1> 
        </div>
    <%  } %>

    <!-- Section for the list of patients on the webpage -->
    <section id="patients-page">
        <div class="fade-in">
            <header>
                <h1 class="patient-page-text">Patients</h1>
            </header>
            <div class="patient-ordering">
                <!-- Create forms to process when user clicks the "Add Patient" button and the "Back" button -->
                <div class="patient-buttons">
                    <a id="patient-back-arrow" class="all-button-container-one" href="/views">
                        <span class="patient-button-icon"><i class="fa-solid fa-arrow-left-long"></i></span> Back
                    </a>
                    <a id="patient-add-icon" class="all-button-container-two" href="/patient-new">
                        <span class="patient-button-icon"><i class="fa-solid fa-circle-plus"></i></span> New
                    </a>
                </div>

                <!-- 
                    This is the section where the patient data
                    is loaded to be displayed on the page
                -->
                <div class="patient-items">
                    
                    <!-- 
                        If there is data in the patient table 
                        of the database, display that data
                    -->
                    <% if(patientData.length != 0) { %>

                        <!-- 
                            Create a function to obtain the patient ID in order to 
                            perform an remove operation on any given patient entity.
                        -->
                        <% function getRemoveValue() { %>
                            
                            <% // Create variables to obtain the patient ID element. %>
                            <% var value = "remove_" + event.currentTarget.id; %>
                            <% var element = document.getElementById(value).value; %>
                        <% } %>

                        <!-- Include a function to simplify the date display -->
                        <% function simplifyDate(birthDate) { %>

                            <% // First split the event into the components that directly %>
                            <% // involve the numberical representations of a date. %>
                            <% var date = birthDate.toISOString().split("T")[0]; %>
                        
                            <% // Create variables for workring with %>
                            <% // the nubmers in the date variable. %>
                            <% var arrayDate = date.split('-'); %>
                            <% var day = arrayDate[2]; %>
                            <% var getMonth = arrayDate[1]; %>
                            <% var month = ""; %>
                            <% var year = arrayDate[0]; %>
                            <% var simplifiedDate = ""; %>
                        
                            <% // Use a series of conditionals to determine %>
                            <% // what the name of the month is based on the %>
                            <% // numerical representation of it. %>
                            <% if(getMonth.localeCompare('01') == 0) { %>
                                <% month = 'Jan'; %>
                            <% } else if(getMonth.localeCompare('02') == 0) { %>
                                <% month = 'Feb'; %>
                            <% } else if(getMonth.localeCompare('03') == 0) { %>
                                <% month = 'Mar'; %>
                            <% } else if(getMonth.localeCompare('04') == 0) { %>
                                <% month = 'Apr'; %>
                            <% } else if(getMonth.localeCompare('05') == 0) { %>
                                <% month = 'May'; %>
                            <% } else if(getMonth.localeCompare('06') == 0) { %>
                                <% month = 'Jun'; %>
                            <% } else if(getMonth.localeCompare('07') == 0) { %>
                                <% month = 'Jul'; %>
                            <% } else if(getMonth.localeCompare('08') == 0) { %>
                                <% month = 'Aug'; %>
                            <% } else if(getMonth.localeCompare('09') == 0) { %>
                                <% month = 'Sep'; %>
                            <% } else if(getMonth.localeCompare('10') == 0) { %>
                                <% month = 'Oct'; %>
                            <% } else if(getMonth.localeCompare('11') == 0) { %>
                                <% month = 'Nov'; %>
                            <% } else if(getMonth.localeCompare('12') == 0) { %>
                                <% month = 'Dec'; %>
                            <% } else { %>
                                <% month = 'ERROR'; %>
                            <% } %>
                        
                            <% // Create the simplified date and return it. %>
                            <% simplifiedDate = month + " " + day + ", " + year; %>
                            <% return simplifiedDate; %>
                        <% } %>

                        <!-- Include a function to obtain any given patient's age -->
                        <% function getPatientAge(birthDate) { %>

                            <% // First split the event into the components that directly %>
                            <% // involve the numberical representations of a date. %>
                            <% var date = birthDate.toISOString().split("T")[0]; %>
                        
                            <% // Create variables for workring with %>
                            <% // the values in the date variable. %>
                            <% // This will help with obtaining the %>
                            <% // patient's age. %>
                            <% var arrayDate = date.split('-'); %>
                            <% var patientYearBorn = arrayDate[0]; %>
                            <% var simplifiedDate = ""; %>

                            <% // Obtain the current year. %>
                            <% var currentDate = new Date(); %>
                            <% var currentYear = currentDate.getFullYear(); %>
                        
                            <% // Obtain the patient's age by subtracting the %>
                            <% // year that the patient was born from the current %>
                            <% // year, and return it. %>
                            <% var patientAge = currentYear - patientYearBorn; %>
                            <% return patientAge; %>
                        <% } %>

                        <!-- 
                            Loop through all of the patients in the 
                            database and display them on the page 
                        -->
                        <% patientData.forEach(function(data) { %>

                            <!--
                                Create a div to hold the button collapse function layout. 
                                The main components within this div include the main button
                                and the content that appears when the user clicks the button.
                            -->
                            <div>

                                <!-- Create a card for each patient -->
                                <!-- First, create a heading that displays the name of each patient -->
                                <div class="patient-name">

                                    <!-- 
                                        If the patient has been discharged from hospital, print out an
                                        icon to indicate that they are done being treated. Otherwise, print
                                        out an icon to indicate that they are currently in treatment.
                                    -->
                                    <h2 class="patient-name-text">

                                        <!-- Include a div to show the patient name and action buttons -->
                                        <div class="patient-name-and-buttons">

                                            <!-- 
                                                Display an icon indicating whether or not the patient has 
                                                been discharged from the hospital. Also include the patient's
                                                full name.
                                            -->
                                            <div class="patient-full-name">
                                                <!-- 
                                                    If the patient has been discharged, display the heart check icon.
                                                    Otherwise, display the heart icon indicating that treatment is 
                                                    ongoing.
                                                -->
                                                <% if(data.PatientEndDate) { %>
                                                    <i class="fa-solid fa-heart-circle-check"></i>
                                                <% } else { %>
                                                    <i class="fa-solid fa-heart-pulse"></i>
                                                <% } %> 
                                                <%= data.PatientFirstName %> <%= data.PatientMiddleName %> <%= data.PatientLastName %>
                                            </div>

                                            <!-- Include action (edit and remove) buttons here -->
                                            <div class="patient-edit-remove-buttons">

                                                <!-- 
                                                    Include a button for expanding any patient's information.
                                                    This button is used to expand any patient module that is
                                                    listed in the database.
                                                -->
                                                <a class="patient-edit-white patient-edit-remove" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-patients<%= data.PatientID %>" aria-expanded="false" aria-controls="collapse-patients<%= data.PatientID %>">
                                                    <i class="fa-solid fa-circle-info" style="height: 25px; vertical-align: center;"></i>
                                                </a>

                                                <!-- Include a button for the user to click when they wish to edit a patient -->
                                                <a class="patient-edit-white patient-edit-remove patient-edit-pencil" href="/patient-edit/<%= data.PatientID %>">
                                                    <i class="fa-solid fa-pencil"></i>
                                                </a>

                                                <!-- 
                                                    Include a button for the user to click when they wish to remove a patient.
                                                    Clicking this button will open a modal that asks the user if they are sure
                                                    that they want to remove the patient. The user can then either confirm 
                                                    delete the patient from the database, or cancel the removal action.
                                                -->
                                                <a id="<%= data.PatientID %>" class="remove-the-patient patient-edit-red patient-edit-remove" onClick="getPatientID(this.id)" href="#patientModal_<%= data.PatientID %>">
                                                    
                                                    <!-- 
                                                        Include a script tag inside of the anchor tag to add event handlers to the
                                                        different elements associated with the "delete" button on each patient of
                                                        the patients page of the web application.
                                                    -->
                                                    <script>

                                                        // Utilize a query selector with JavaScript to add an event listener
                                                        // to each trash bin icon that is clicked by the user on the application.
                                                        [...document.querySelectorAll('.remove-the-patient')].forEach(function(trashBin) {
                                                            
                                                            // Add a click event listener to the trash bin icon
                                                            // so that when it is clicked, a modal pops up with
                                                            // a confirm delete option.
                                                            trashBin.addEventListener('click', function() {
                                                            
                                                                // Create variables for selecting 
                                                                // the correct confirm delete modal.
                                                                var modalValue = "patientModal_" + trashBin.id;
                                                                var exitModal = "patient-exit-" + trashBin.id;

                                                                // Add selectors for the confirm delete modal.
                                                                var confirmModal = document.getElementById(modalValue);

                                                                // When the user clicks the button, open 
                                                                // the patient confirm delete modal.
                                                                confirmModal.classList.add('patient-bg-active');
                                                                document.body.classList.add('overflowHidden');

                                                                // Select the exit icon on the confirm delete modal.
                                                                var exitIcon = document.getElementById(exitModal);

                                                                // When the user clicks the exit icon on the confirm 
                                                                // delete modal, close the modal on the screen.
                                                                exitIcon.onclick = function() {
                                                                    confirmModal.classList.remove('patient-bg-active');
                                                                    document.body.classList.remove('overflowHidden');
                                                                }

                                                                // If the user clicks anywhere outside
                                                                // the modal, close it and do not execute
                                                                // any of the functions in it.
                                                                window.onclick = function(event) {

                                                                    // When anything outside of the modal is clicked, 
                                                                    // close the modal. You can also click the "Cancel"
                                                                    // button to close the modal.
                                                                    if (event.target == confirmModal) {
                                                                        confirmModal.classList.remove('patient-bg-active');
                                                                        document.body.classList.remove('overflowHidden');
                                                                
                                                                    }
                                                                }
                                                            });
                                                        });
                                                    </script>

                                                    <!-- Include a trash bin icon for each patient -->
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>

                                                <!-- 
                                                    Include a MODAL that the user can click to confirm whether or not not they 
                                                    wish to remove the selected patient entity from the database 
                                                -->
                                                <div id="patientModal_<%= data.PatientID %>" role="dialog" class="patient-modal-bg">
                                                    <div class="patient-modal-dialog">
                                                        <div class="patient-modal-container"> 
                                                            <!-- Modal Information and Content -->
                                                            <div class="patient-modal-information">
                                                                <div class="patient-modal-content">
                                                                    <div>
                                                                        <div class="patient-modal-body">
                                                                            <!-- Include a div for showing the "Cancel" and "Confirm" button on the modal -->
                                                                            <div>
                                                                                <!-- Heading -->
                                                                                <div class="patient-modal-heading-background">
                                                                                    <h2 class="patient-modal-heading" style="font-size: 40px !important;">Confirm</h2>
                                                                                </div>      
                                                                                
                                                                                <!-- Description -->
                                                                                <div class="patient-modal-text-background">
                                                                                    <p class="patient-modal-text">Are you sure you want to delete patient: <strong><%= data.PatientFirstName %> <%= data.PatientMiddleName %> <%= data.PatientLastName %></strong>?</p>
                                                                                </div>

                                                                                <!-- Include a div for the two buttons on the modal -->
                                                                                <div class="patient-confirm-delete-select">
                                                                                    <!-- Provide a "Cancel" button if the user wishes to cancel the delete action -->
                                                                                    <a id="patient-exit-<%= data.PatientID %>" class="patient-edit-white-modal patient-edit-remove-modal" href="#close">
                                                                                        Cancel
                                                                                    </a>
                                                                                    <!-- Makes POST request to the remove-patient route if the "Confirm Delete" button is clicked -->
                                                                                    <form class="form-horizontal" action="/patient-remove" method="POST">
                                                                                        <input id="remove_<%= data.PatientID %>" type="hidden" class="patientclass" name="patientidentifier" value="<%= data.PatientID %>" onChange="getRemoveValue()">
                                                                                        <button type="submit" class="patient-edit-red-modal patient-edit-remove-modal">Delete</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>

                                            </div>
                                        </div>
                                    </h2>
                                </div>

                                <!-- Create the main-content portion of the patient card -->
                                <div id="collapse-patients<%= data.PatientID %>" class="collapse">
                                   
                                    <!-- 
                                        Include a wrapper div for the collapse div. This helps 
                                        ensure that the transition from closed to open is smooth.
                                    -->
                                    <div class="patient-card">
                                        
                                        <!-- Each column of the card displays different amounts of data -->
                                        <div class="patient-column">
                                            <p class="patient-text-info"><b>Birthdate:</b> <%= simplifyDate(data.PatientBirthdate) %></p>
                                            <p class="patient-text-info"><b>Age:</b> <%= getPatientAge(data.PatientBirthdate) %> years</p>
                                            <p class="patient-text-info"><b>Sex:</b> <%= data.PatientSex %></p> 
                                            <p class="patient-text-info"><b>Height:</b> <%= data.PatientHeight %> feet/inches</p>
                                            <p class="patient-text-info"><b>Weight:</b> <%= data.PatientWeight %>lbs</p>
                                            <p class="patient-text-info"><b>Description:</b> <%= data.PatientNotes %></p>

                                            <!-- ========================================================== -->
                                            <!-- List out the PROVIDERS that were assigned to each patient -->
                                            <!-- ========================================================== -->
                                            <p class="patient-text-info" style="margin-bottom: 0;"><b>Providers:</b></p>
                                            
                                            <!-- 
                                                Check if there is any data in the Cares_For table. 
                                                If there is no data in the Cares_For table, display
                                                a message instead.
                                            -->
                                            <% if(patientProviderJoinData.length != 0) { %>

                                                <!-- Create a variable to determine if there are any providers assigned to a given patient -->
                                                <% var hasRelationshipProvider = 0; %>
                                                
                                                <!-- 
                                                    Create a for-each loop that checks each patient ID 
                                                    in the Cares_For table and determines if that patient 
                                                    was assigned a provider or multiple providers
                                                -->
                                                <% patientProviderJoinData.forEach(function(joinData) { %>
                                                
                                                    <!-- 
                                                        If there is a patient identifier in the Cares_For table,
                                                        then the patient was assigned a provider. Therefore,
                                                        within the conditional, create another for-each loop
                                                        that finds which provider was assigned to the patient.
                                                    -->
                                                    <% if(joinData.Cares_PatientID == data.PatientID) { %>

                                                        <!-- 
                                                            Create a second for-each loop to determine which providers
                                                            were assigned to the patient to care for that patient.
                                                        -->
                                                        <% providerData.forEach(function(providerData) { %>

                                                            <!-- 
                                                                If the provider identifier matches the identifier in the Cares_For 
                                                                table, then list that provider as a provider for the given patient.
                                                            -->
                                                            <% if(joinData.Cares_ProviderID == providerData.ProviderID) { %>

                                                                <!-- 
                                                                    If there is a relationship, indicating that a provider was 
                                                                    assigned to the patient, then set the variable checking for 
                                                                    relationships to one. This will ensure that the message that 
                                                                    indicates that no providers were assigned is NOT printed out 
                                                                -->
                                                                <% hasRelationshipProvider = 1; %>
                                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;"><%= providerData.ProviderFirstName %> <%= providerData.ProviderLastName %>, <%= providerData.ProviderTitle %></p>
                                                            <% } %>

                                                        <% }); %>

                                                    <% } %>
                                                <% }); %>

                                                <!-- If there were no providers assigned to the patient, print out a message instead -->
                                                <% if(hasRelationshipProvider == 0) { %>
                                                    <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">No providers assigned.</p>
                                                <% } %>

                                            <!-- Display the message if no items exist in Cares_For table -->
                                            <% } else { %>
                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">No providers assigned.</p>
                                            <% } %>
                                            <!-- ========================================================== -->
                                        </div>

                                        <!-- Each column of the card displays different amounts of data -->
                                        <div class="patient-column" style="margin-right: 0;">

                                            <!-- ========================================================== -->
                                            <!-- List out the TREATMENTS that were assigned to each patient -->
                                            <!-- ========================================================== -->
                                            <p class="patient-text-info" style="margin-bottom: 0;"><b>Treatments:</b></p>
                                            
                                            <!-- 
                                                Check if there is any data in the Receives_Treatment 
                                                table. If there is no data in the Receives_Treatment
                                                table, display a message instead.
                                            -->
                                            <% if(patientTreatmentJoinData.length != 0) { %>

                                                <!-- Create a variable to determine if there are any treatments assigned to a given patient -->
                                                <% var hasRelationshipTreatment = 0; %>
                                                
                                                <!-- 
                                                    Create a for-each loop that checks each patient ID 
                                                    in the Receives_Treatment table and determines if
                                                    that patient was assigned a treatment or multiple 
                                                    treatments
                                                -->
                                                <% patientTreatmentJoinData.forEach(function(joinData) { %>
                                                
                                                    <!-- 
                                                        If there is a patient identifier in the Receives_Treatment
                                                        table, then the patient was assigned a treatment. Therefore,
                                                        within the conditional, create another for-each loop
                                                        that finds which treatment was assigned to the patient.
                                                    -->
                                                    <% if(joinData.Receives_PatientID == data.PatientID) { %>

                                                        <!-- 
                                                            Create a second for-each loop to determine which
                                                            treatments were assigned to the patient.
                                                        -->
                                                        <% treatmentData.forEach(function(treatmentData) { %>

                                                            <!-- 
                                                                If the treatment identifier matches the identifier in the Receives_Treatment
                                                                table, then list that treatment as a treatment for the given patient.
                                                            -->
                                                            <% if(joinData.Receives_TreatmentID == treatmentData.TreatmentID) { %>

                                                                <!-- 
                                                                    If there is a relationship, indicating that a treatment was 
                                                                    assigned to the patient, then set the variable checking for 
                                                                    relationships to one. This will ensure that the message that 
                                                                    indicates that no treatments were assigned is NOT printed out 
                                                                -->
                                                                <% hasRelationshipTreatment = 1; %>
                                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;"><%= treatmentData.TreatmentName %></p>
                                                            <% } %>

                                                        <% }); %>

                                                    <% } %>
                                                <% }); %>

                                                <!-- If there were no treatments assigned to the patient, print out a message instead -->
                                                <% if(hasRelationshipTreatment == 0) { %>
                                                    <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">No treatments assigned.</p>
                                                <% } %>

                                            <!-- Display the message if no items exist in Receives_Treatment table -->
                                            <% } else { %>
                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">No treatments assigned.</p>
                                            <% } %>
                                            <!-- ========================================================== -->

                                            <p class="patient-text-info"><b>Risk Index:</b> <%= data.PatientRiskIndex %>/10</p>
                                            <p class="patient-text-info"><b>Phone:</b> <%= data.PatientPhone %></p>
                                            <p class="patient-text-info"><b>Email:</b> <%= data.PatientEmail %></p>
                                            <p class="patient-text-info"><b>Admitted:</b> <%= simplifyDate(data.PatientStartDate) %></p> 
                                            
                                            <!--
                                                If the patient does not have an end/discharge 
                                                date, display a message instead
                                            -->
                                            <% if(data.PatientEndDate) { %>
                                                <p class="patient-text-info"><b>Discharged:</b> <%= simplifyDate(data.PatientEndDate) %></p> 
                                            <% } else { %>
                                                <p class="patient-text-info"><b>Discharged:</b> Currently in treatment.</p> 
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>

                    <!-- If there is no patient data, display the message -->
                    <% } else { %>
                        <h2 class="no-patient-data">There is currently no patient data.</h2>
                    <% } %>
                </div>
            </div>

            <!-- 
                Include a div that displays a chevron that the
                user can click to return to the top of the page
            -->
            <div>
                <!-- Include a button for the user to click to go to the top of the page -->
                <a class="patient-bottom patient-bottom-color" style="font-size: 16px !important;" href="#patients-page">
                    <i class="fa-solid fa-chevron-up fa-1.5x"></i>
                </a>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>