<!-- 
    The patient-new.ejs file displays a form that
    the user can fill out to create a new patient 
    entity for the database. Upon filling out the
    form, they can submit the changes to be added
    to the patient table of the databases. The 
    user can either click the "Create" button or
    the "Cancel button" on this page as well.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- Section for the create patient card on the webpage -->
    <section id="patient-create-page">
        <div class="fade-in">
            <header>
                <h1 class="patient-create-page-text">Create Patient</h1>
            </header>
            <div class="patient-create-ordering">
                <!-- 
                    This is the section where the patient data
                    is loaded to be displayed on the page
                -->
                <div class="patient-create-item">

                    <!-- 
                        Create a form to process any data that is entered into the input fields by the
                        user. This information will be used to create a new patient for the database.
                    -->
                    <form class="form-create-patient-horizontal" action="/patient-add" method="POST">

                        <!-- Create a card for making a new patient -->
                        <!-- First, create a heading that displays the name of each patient -->
                        <div class="patient-create-name">

                            <!-- 
                                If the patient has been discharged from treatment, print out an
                                icon to indicate that they are done being treated. Otherwise, print
                                out an icon to indicate that they are currently in treatment.
                            -->
                            <h2 class="patient-create-name-text">

                                <!-- Include a div to show the patient name and action buttons -->
                                <div class="patient-name-create-buttons">

                                    <!-- 
                                        Display an icon for the new patient. Also provide
                                        fields for the user to enter the patient's name in.
                                    -->
                                    <div>
                                        <!-- Display an icon for creating the new patient -->
                                        <i class="fa-solid fa-clipboard-list"></i>
                                        
                                        <!-- Provide a section for the user to add a new patient name -->
                                        Full Name: 
                                        <input placeholder="Enter First Name" type="text" class="name-input" name="patientfirstname" size="10" required>
                                        <input placeholder="Enter Middle Name" type="text" class="name-input" name="patientmiddlename" size="10" required>
                                        <input placeholder="Enter Last Name" type="text" class="name-input" name="patientlastname" size="10" required>
                                    </div>
                                </div>
                            </h2>
                        </div>

                        <!-- Create the main-content portion of the patient card -->
                        <div class="patient-create-card">                                
            
                            <!-- Each column of the card displays different amounts of data -->
                            <div class="patient-create-column">
                                <p class="patient-create-text-info"><b>Birthdate:</b> <input placeholder="Enter Birthdate" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientbirthdate" size="16" required></p> 

                                <p class="patient-create-text-info">
                                    <label for="patient-sex"><b>Sex:</b></label>
                                    <select id="" class="sex-input" name="patientsex">
                                        <option value="-">-</option>
                                        <option value="M">M</option>
                                        <option value="F">F</option> 
                                        <option value="Other">Other</option> 
                                    </select>
                                </p>

                                <p class="patient-create-text-info"><b>Height (feet/inches):</b> <input placeholder="Enter Height" type="number" class="" name="patientheight" size="5" min="1" max="1000" step="0.01" required></p>
                                <p class="patient-create-text-info"><b>Weight (lbs):</b> <input placeholder="Enter Weight" type="number" class="" name="patientweight" size="5" min="1" max="1000" step="0.01" required></p>
                                <p class="patient-create-text-info"><b>Description:</b> <input placeholder="Enter Description" type="text" class="name-input" name="patientdescription" size="10" required></p>
                            
                                <!-- ============================================================================= -->
                                <!-- SECTION FOR SELECTING ITEMS THAT WILL BE ADDED TO THE JOIN PATIENT/PROVIDER -->
                                <!-- TABLE IN THE DATABASE -->
                                <!-- ============================================================================= -->

                                <!-- PROVIDER -->
                                <!-- Include a script to add JavaScript for properly selecting a given provider for the patient -->
                                <script>
                                    // Create a variable for determining if the selector is expanded or not.
                                    var expandedProvider = false;

                                    // Create a function for showing the 
                                    // checkboxes within the selector.
                                    function showProviderCheckboxes() {

                                        // Create a variable that obtains the provider checkbox dropdown section.
                                        var checkboxes = document.getElementById("provider-checkboxes");
                                        
                                        // If the selector is not expanded, display the checkboxes
                                        // and set the expanded variable to the value of true.
                                        if (!expandedProvider) {
                                            checkboxes.style.display = "block";
                                            expandedProvider = true;

                                        // Otherwise, do not display the checkboxes and
                                        // set the expanded variable to the value of false.
                                        } else {
                                            checkboxes.style.display = "none";
                                            expandedProvider = false;
                                        }
                                    }
                                </script>

                                <!-- 
                                    Provide the user with options to select the provider or providers 
                                    that are assigned with caring for the given patient 
                                -->
                                <p class="patient-create-text-info" style="margin-bottom: 0;"><b>Providers:</b></p>

                                <!-- 
                                    If there are providers in the database, list them 
                                    as options for the user to select in order to assign 
                                    them to the patient 
                                -->
                                <% if(patientEditProvider.length != 0) { %>

                                    <!-- 
                                        Creae a div to show the provider options 
                                        that the user can choose from
                                     -->
                                    <div>

                                        <!-- Create dropdown element so the user can click it and view the different providers -->
                                        <div class="selectBox patient-create-text-info" onclick="showProviderCheckboxes()">
                                            <select>
                                                <option>Select Providers</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="provider-checkboxes" class="all-selector-checkboxes patient-create-text-info" style="display: none;">

                                            <!-- 
                                                Create a for loop to display all of the providers
                                                that the user can select for this input field.
                                            -->
                                            <% patientEditProvider.forEach(function(data) { %>

                                                <!-- Finish adding the checkbox structure for the dropdown of provider checkboxes -->
                                                <div class="checkbox-structure">
                                                    <div class="checkbox-item">
                                                        <input type="checkbox" id="providerAssign<%= data.ProviderID %>" class="checkbox-label" style="margin-top: 6px;" name="providerforpatient" value="<%= data.ProviderID %>">
                                                    </div>
                                                    <div class="checkbox-item">
                                                        <label for="providerAssign<%= data.ProviderID %>"><%= data.ProviderFirstName %> <%= data.ProviderLastName %>, <%= data.ProviderTitle %></label>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        </div>
                                    </div>

                                <% } else { %>
                                    <p class="patient-create-text-info">There are no available providers</p>
                                <% } %>
                                <!-- ============================================================================= -->
                            </div>

                            <!-- Each column of the card displays different amounts of data -->  
                            <div class="patient-create-column">

                                <!-- ============================================================================= -->
                                <!-- SECTION FOR SELECTING ITEMS THAT WILL BE ADDED TO THE JOIN PATIENT/TREATMENT -->
                                <!-- TABLE IN THE DATABASE -->
                                <!-- ============================================================================= -->

                                <!-- TREATMENT -->
                                <!-- Include a script to add JavaScript for properly selecting a given treatment for the patient -->
                                <script>
                                    // Create a variable for determining if the selector is expanded or not.
                                    var expandedTreatment = false;

                                    // Create a function for showing the 
                                    // checkboxes within the selector.
                                    function showTreatmentCheckboxes() {

                                        // Create a variable that obtains the provider checkbox dropdown section.
                                        var checkboxes = document.getElementById("treatment-checkboxes");
                                        
                                        // If the selector is not expanded, display the checkboxes
                                        // and set the expanded variable to the value of true.
                                        if (!expandedTreatment) {
                                            checkboxes.style.display = "block";
                                            expandedTreatment = true;

                                        // Otherwise, do not display the checkboxes and
                                        // set the expanded variable to the value of false.
                                        } else {
                                            checkboxes.style.display = "none";
                                            expandedTreatment = false;
                                        }
                                    }
                                </script>

                                <!-- 
                                    Provide the user with options to select the treatment
                                    or treatments that are assigned to a given patient
                                -->
                                <p class="patient-create-text-info" style="margin-bottom: 0;"><b>Treatments:</b></p>

                                <!-- 
                                    If there are treatments in the database, list them 
                                    as options for the user to select in order to assign 
                                    them to the patient 
                                -->
                                <% if(patientEditTreatment.length != 0) { %>

                                    <!-- 
                                        Creae a div to show the treatment options 
                                        that the user can choose from
                                     -->
                                    <div>

                                        <!-- Create dropdown element so the user can click it and view the different treatments -->
                                        <div class="selectBox patient-create-text-info" onclick="showTreatmentCheckboxes()">
                                            <select>
                                                <option>Select Treatments</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="treatment-checkboxes" class="all-selector-checkboxes patient-create-text-info" style="display: none;">

                                            <!-- 
                                                Create a for loop to display all of the treatments
                                                that the user can select for this input field.
                                            -->
                                            <% patientEditTreatment.forEach(function(data) { %>

                                                <!-- Finish adding the checkbox structure for the dropdown of treatment checkboxes -->
                                                <div class="checkbox-structure">
                                                    <div class="checkbox-item">
                                                        <input type="checkbox" id="treatmentAssign<%= data.TreatmentID %>" class="checkbox-label" style="margin-top: 6px;" name="treatmentforpatient" value="<%= data.TreatmentID %>">
                                                    </div>
                                                    <div class="checkbox-item">
                                                        <label for="treatmentAssign<%= data.TreatmentID %>"><%= data.TreatmentName %></label>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        </div>
                                    </div>

                                <% } else { %>
                                    <p class="patient-create-text-info">There are no available treatments.</p>
                                <% } %>
                                <!-- ============================================================================= -->

                                <p class="patient-create-text-info"><b>Risk Index:</b> <input placeholder="0-10" type="number" class="" name="patientriskindex" size="5" maxlength="12" min="0" max="10" step="1" required></p>
                                <p class="patient-create-text-info"><b>Phone:</b> <input placeholder="###-###-####" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="" name="patientphone" size="13" maxlength="12" required></p>
                                <p class="patient-create-text-info"><b>Email:</b> <input placeholder="Enter Email" type="email" class="" name="patientemail" size="13" required></p>
                                <p class="patient-create-text-info"><b>Admitted:</b> <input id="patientstartdatecalc" placeholder="Enter Start Date" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientstartdate" size="16" required></p> 
                                
                                <!-- MAYBE TRY IMPLEMENTING THE CODE BELOW AT A LATER TIME. PROBABLY NOT FOR A WHILE. -->
                                <!-- ===================================================================== -->
                                <!-- 
                                    Create a variable that determines if a value 
                                    was entered into the patient start date input 
                                -->
                                <% // var enteredStartDatePatient = req.body.patientstartdate; %>

                                <!-- 
                                    If the user entered a value into the patient 
                                    start date input field, enable them to enter 
                                    an end date for the patient if they wish to 
                                    do so. If the user never entered a value into
                                    the patient start date, disable the input field
                                    for the patient end date until they enter a 
                                    value for the start date.
                                -->
                                <% // if(enteredStartDatePatient) { %>
                                    
                                    <!-- The patient end date/date discharged is entered here -->
                                    <!-- <p class="patient-create-text-info"><b>Discharged:</b> <input placeholder="Enter End Date" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientenddate" size="16"></p>  -->
                                <% // } else { %>

                                    <!-- A disabled input for the patient end date/date discharged is listed here -->
                                    <!-- <p class="patient-create-text-info"><b>Discharged:</b> <input placeholder="Enter Start Date First" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientenddate" size="16" disabled></p>  -->
                                <% // } %>
                                <!-- ===================================================================== -->

                                <!-- The patient end date/date discharged is entered here -->
                                <p class="patient-create-text-info"><b>Discharged:</b> <input placeholder="Enter End Date" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientenddate" size="16"></p> 

                                <!-- 
                                    Create a checkbox for providing the user with the option 
                                    to determine if the patient is currently undergoing treatment(s) 
                                -->
                                <p class="patient-create-text-info" style="margin-bottom: 0;">
                                    <b>In Treatment:</b> 
                                    <div class="checkbox-structure">
                                        <div class="checkbox-item">
                                            <input type="checkbox" id="patientcheckbox" class="checkbox-label" style="margin-top: 6px;" name="patientintreatment" value="In-Treatment">
                                        </div>
                                        <div class="checkbox-item">
                                            <label for="patientcheckbox">Yes</label>
                                        </div>
                                    </div>
                                </p> 
                            </div>
                        </div>

                        <!-- Create forms to process when user clicks the "Add Patient" button and the "Back" button -->
                        <div class="patient-create-buttons">
                            <!-- The button brings the user back to the main list of patients on the website -->
                            <a id="patient-create-icon1" class="all-button-container-one" href="/patients">
                                <span class="patient-button-icon"><i class="fa-solid fa-circle-xmark"></i> Cancel</span>
                            </a>

                            <!-- 
                                The button, when clicked, triggers a process in which any form data entered into 
                                the fields on the page by the user is gathered for the "patient-add" route 
                            -->
                            <button type="submit" id="patient-create-icon2" class="all-button-container-two">
                                <span class="patient-button-icon"><i class="fa-solid fa-heart-circle-plus"></i> Create</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>