<!-- 
    The patient-edit.ejs file displays a given 
    patient that was selected by the user to edit.
    Each attribute of the patient can be edited by
    the user. Data validation is included to ensure
    that the user does not enter any incorrect data
    values for a given data attribute. When the user
    completes the process of updating the given
    patient, they can either cancel the changes or
    submit the changes to be added to the database.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- Section for the form with update ability for patients on the webpage -->
    <section id="patients-edit-page">
        <div class="fade-in">
            <header>
                <h1 class="patient-edit-page-text">Edit Patient</h1>
            </header>
            <div class="patient-edit-ordering">
                <!-- 
                    This is the section where the patient data
                    is loaded to be displayed on the page
                -->
                <div class="patient-edit-items">

                    <!-- 
                        If there is data in the patient table 
                        of the database, display that data
                    -->
                    <% if(patientEditData.length != 0) { %>

                        <!-- Create a form to process any data that is entered into the input fields by the user -->
                        <form class="form-edit-patient-horizontal" action="/patient-update" method="POST">

                            <!-- 
                                Create a function to obtain the patient ID in order to 
                                perform an update operation on any given patient entity.
                            -->
                            <% function getUpdateValue() { %>
                                
                                <% // Create variables to obtain the chevron element. %>
                                <% var value = "update_" + event.currentTarget.id; %>
                                <% var element = document.getElementById(value).value; %>
                            <% } %>

                            <!-- Include a function to simplify the date display -->
                            <% function simplifyDate(eventDate) { %>

                                <% // First split the event into the components that directly %>
                                <% // involve the numberical representations of a date. %>
                                <% var date = eventDate.toISOString().split("T")[0]; %>
                            
                                <% // Create variables for workring with %>
                                <% // the nubmers in the date variable. %>
                                <% var arrayDate = date.split('-'); %>
                                <% var day = arrayDate[2]; %>
                                <% var getMonth = arrayDate[1]; %>
                                <% var month = ""; %>
                                <% var year = arrayDate[0]; %>
                                <% var simplifiedDate = ""; %>
                            
                                <% // Use a series of conditionals to determine %>
                                <% // what the name of the month is based on the %>
                                <% // numerical representation of it. %>
                                <% if(getMonth.localeCompare('01') == 0) { %>
                                    <% month = 'Jan'; %>
                                <% } else if(getMonth.localeCompare('02') == 0) { %>
                                    <% month = 'Feb'; %>
                                <% } else if(getMonth.localeCompare('03') == 0) { %>
                                    <% month = 'Mar'; %>
                                <% } else if(getMonth.localeCompare('04') == 0) { %>
                                    <% month = 'Apr'; %>
                                <% } else if(getMonth.localeCompare('05') == 0) { %>
                                    <% month = 'May'; %>
                                <% } else if(getMonth.localeCompare('06') == 0) { %>
                                    <% month = 'Jun'; %>
                                <% } else if(getMonth.localeCompare('07') == 0) { %>
                                    <% month = 'Jul'; %>
                                <% } else if(getMonth.localeCompare('08') == 0) { %>
                                    <% month = 'Aug'; %>
                                <% } else if(getMonth.localeCompare('09') == 0) { %>
                                    <% month = 'Sep'; %>
                                <% } else if(getMonth.localeCompare('10') == 0) { %>
                                    <% month = 'Oct'; %>
                                <% } else if(getMonth.localeCompare('11') == 0) { %>
                                    <% month = 'Nov'; %>
                                <% } else if(getMonth.localeCompare('12') == 0) { %>
                                    <% month = 'Dec'; %>
                                <% } else { %>
                                    <% month = 'ERROR'; %>
                                <% } %>
                            
                                <% // Create the simplified date and return it. %>
                                <% simplifiedDate = month + " " + day + ", " + year; %>
                                <% return simplifiedDate; %>
                            <% } %>

                            <!-- 
                                Loop through all of the patients in the 
                                database and display them on the page 
                            -->
                            <% patientEditData.forEach(function(data) { %>

                                <!-- Create a card for each patient -->
                                <!-- First, create a heading that displays the name of each patient -->
                                <div class="patient-edit-name">

                                    <!-- 
                                        If the patient has been discharged from treatment, print out an
                                        icon to indicate that they are done being treated. Otherwise, print
                                        out an icon to indicate that they are currently in treatment.
                                    -->
                                    <h2 class="patient-name-text">

                                        <!-- Include a div to show the patient name and action buttons -->
                                        <div class="patient-name-edit-buttons">

                                            <!-- 
                                                Display an icon indicating whether or not the patient has 
                                                been discharged from the hospital. Also include the patient's
                                                full name.
                                            -->
                                            <div>
                                                <!-- 
                                                    If the patient has been discharged, display the heart check icon.
                                                    Otherwise, display the heart icon indicating that treatment is 
                                                    ongoing.
                                                -->
                                                <% if(data.PatientEndDate) { %>
                                                    <i class="fa-solid fa-heart-circle-check"></i>
                                                <% } else { %>
                                                    <i class="fa-solid fa-heart-pulse"></i>
                                                <% } %> 
                                                
                                                Full Name: 
                                                <input placeholder="Enter First Name" value="<%= data.PatientFirstName %>" type="text" class="name-input" name="patientfirstname" size="10">
                                                <input placeholder="Enter Middle Name" value="<%= data.PatientMiddleName %>" type="text" class="name-input" name="patientmiddlename" size="10">
                                                <input placeholder="Enter Last Name" value="<%= data.PatientLastName %>" type="text" class="name-input" name="patientlastname" size="10">
                                            </div>
                                        </div>
                                    </h2>
                                </div>

                                <!-- Create the main-content portion of the patient card -->
                                <div class="patient-edit-card">

                                    <!-- Create a new function that simplifies the date -->
                                    <!-- and returns it in the format: mm-dd-yyyy -->
                                    <% function simplifyDateShorthand(eventDate) { %>

                                        <% // First split the event into the components that directly %>
                                        <% // involve the numberical representations of a date. %>
                                        <% var date = eventDate.toISOString().split("T")[0]; %>
                                    
                                        <% // Create variables for workring with %>
                                        <% // the nubmers in the date variable. %>
                                        <% var arrayDate = date.split('-'); %>
                                        <% var day = arrayDate[2]; %>
                                        <% var getMonth = arrayDate[1]; %>
                                        <% var month = ""; %>
                                        <% var year = arrayDate[0]; %>
                                        <% var simplifiedDate = ""; %>
                                    
                                        <% // Use a series of conditionals to determine %>
                                        <% // what the name of the month is based on the %>
                                        <% // numerical representation of it. %>
                                        <% if(getMonth.localeCompare('01') == 0) { %>
                                            <% month = '01'; %>
                                        <% } else if(getMonth.localeCompare('02') == 0) { %>
                                            <% month = '02'; %>
                                        <% } else if(getMonth.localeCompare('03') == 0) { %>
                                            <% month = '03'; %>
                                        <% } else if(getMonth.localeCompare('04') == 0) { %>
                                            <% month = '04'; %>
                                        <% } else if(getMonth.localeCompare('05') == 0) { %>
                                            <% month = '05'; %>
                                        <% } else if(getMonth.localeCompare('06') == 0) { %>
                                            <% month = '06'; %>
                                        <% } else if(getMonth.localeCompare('07') == 0) { %>
                                            <% month = '07'; %>
                                        <% } else if(getMonth.localeCompare('08') == 0) { %>
                                            <% month = '08'; %>
                                        <% } else if(getMonth.localeCompare('09') == 0) { %>
                                            <% month = '09'; %>
                                        <% } else if(getMonth.localeCompare('10') == 0) { %>
                                            <% month = '10'; %>
                                        <% } else if(getMonth.localeCompare('11') == 0) { %>
                                            <% month = '11'; %>
                                        <% } else if(getMonth.localeCompare('12') == 0) { %>
                                            <% month = '12'; %>
                                        <% } else { %>
                                            <% month = 'ERROR'; %>
                                        <% } %>
                                    
                                        <% // Create the simplified date and return it. %>
                                        <% simplifiedDate = year + "-" + month + "-" + day; %>
                                        <% return simplifiedDate; %>
                                    <% } %> 
                                    <!-- ====================================================================================== -->                                  
                    
                                    <!-- Each column of the card displays different amounts of data -->
                                    <div class="patient-edit-column">
                                        <!-- Format the placeholder for the date admitted value -->
                                        <% var birthDatePatient = simplifyDate(data.PatientBirthdate); %>

                                        <p class="patient-edit-text-info"><b>Birthdate:</b> <input placeholder="<%= birthDatePatient %>" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientbirthdate" size="16"></p> 

                                        <p class="patient-edit-text-info">
                                            <label for="patient-sex"><b>Sex:</b></label>
                                            <select id="" class="sex-input" name="patientsex">
                                                <option value="-">-</option>
                                                <option value="M">M</option>
                                                <option value="F">F</option> 
                                                <option value="Other">Other</option> 
                                            </select>
                                        </p>

                                        <p class="patient-edit-text-info"><b>Height (feet/inches):</b> <input placeholder="Enter Height" value="<%= data.PatientHeight %>" type="number" class="" name="patientheight" size="5" min="1" max="1000" step="0.01"></p>
                                        <p class="patient-edit-text-info"><b>Weight (lbs):</b> <input placeholder="Enter Weight" value="<%= data.PatientWeight %>" type="number" class="" name="patientweight" size="5" min="1" max="1000" step="0.01"></p>
                                        <p class="patient-edit-text-info"><b>Description:</b> <input placeholder="Enter Description" value="<%= data.PatientNotes %>" type="text" class="name-input" name="patientdescription" size="10"></p>
                                                   
                                        <!-- ============================================================================= -->
                                        <!-- SECTION FOR SELECTING ITEMS THAT WILL UPDATE THE JOIN PATIENT/PROVIDER TABLES -->
                                        <!-- IN THE DATABASE  -->
                                        <!-- ============================================================================= -->

                                        <!-- PROVIDER -->
                                        <!-- Include a script to add JavaScript for properly selecting/removing a given provider for the patient -->
                                        <script>
                                            // Create a variable for determining if the selector is expanded or not.
                                            var expandedProvider = false;

                                            // Create a function for showing the 
                                            // checkboxes within the selector.
                                            function showProviderEditCheckboxes() {

                                                // Create a variable that obtains the provider checkbox dropdown section.
                                                var checkboxes = document.getElementById("provider-edit-checkboxes");
                                                
                                                // If the selector is not expanded, display the checkboxes
                                                // and set the expanded variable to the value of true.
                                                if (!expandedProvider) {
                                                    checkboxes.style.display = "block";
                                                    expandedProvider = true;

                                                // Otherwise, do not display the checkboxes and
                                                // set the expanded variable to the value of false.
                                                } else {
                                                    checkboxes.style.display = "none";
                                                    expandedProvider = false;
                                                }
                                            }
                                        </script>

                                        <!-- 
                                            Provide the user with options to either select a provider or providers 
                                            to caring for the given patient, or remove a provider or providers that
                                            were assigned with caring for the given patient.
                                        -->
                                        <p class="patient-create-text-info" style="margin-top: 10px; margin-bottom: 0;"><b>Providers:</b></p>

                                        <!-- 
                                            If there are providers in the database, list them 
                                            as options for the user to select in order to assign 
                                            them to the patient 
                                        -->
                                        <% if(providerEditData.length != 0) { %>

                                            <!-- 
                                                Creae a div to show the provider options 
                                                that the user can choose from
                                            -->
                                            <div>

                                                <!-- Create dropdown element so the user can click it and view/edit the different providers -->
                                                <div class="selectBox patient-create-text-info" onclick="showProviderEditCheckboxes()">
                                                    <select>
                                                        <option>Add/Remove Providers</option>
                                                    </select>
                                                    <div class="overSelect"></div>
                                                </div>
                                                <div id="provider-edit-checkboxes" class="all-selector-checkboxes patient-create-text-info" style="display: none;">

                                                    <!-- 
                                                        Create a variable to determine if a given 
                                                        provider is assigned to the patient being 
                                                        edited
                                                    -->
                                                    <% var relationshipPatientProviderYes = 0;%>
                                                    
                                                    <!-- 
                                                        Create a second for-each loop to check each provider
                                                        in the Providers table of the database. This helps 
                                                        in listing out the options for the user to choose 
                                                        from in the proper format.
                                                    -->
                                                    <% providerEditData.forEach(function(providerEditData) { %>

                                                        <!-- 
                                                            Set the variable that determines if a 
                                                            given provider was assigned to a patient 
                                                            to ZERO 
                                                        -->
                                                        <% relationshipPatientProviderYes = 0; %>

                                                        <!-- 
                                                            Create a for-each loop that checks each item in the Cares_For
                                                            table in order to determine which providers can be assigned
                                                            and which providers have already been assigned. 
                                                        -->
                                                        <% patientProviderJoinEditData.forEach(function(joinData) { %>
                                                        
                                                            <!-- 
                                                                If the provider identifier matches the identifier in the Cares_For 
                                                                table, and the patient identifier matches the identifier in the 
                                                                Cares_For table, then that means the provider was previously assigned
                                                                to the patient.
                                                            -->
                                                            <% if(joinData.Cares_ProviderID == providerEditData.ProviderID && joinData.Cares_PatientID == data.PatientID) { %>
                                                                
                                                                <!-- 
                                                                    Set the variable that determines if a 
                                                                    given provider was assigned to a patient 
                                                                    to ONE if the provider was already assigned
                                                                    to that patient. 
                                                                -->
                                                                <% relationshipPatientProviderYes = 1; %>

                                                                <!-- 
                                                                    If there is a relationship between the two entities in the
                                                                    relationship table, then display the providers that were
                                                                    assigned to the patient previously with the option to remove
                                                                    them if the user wishes to do so. 
                                                                -->
                                                                <div class="checkbox-structure">
                                                                    <div class="checkbox-item">
                                                                        <input type="checkbox" id="providerAssign<%= providerEditData.ProviderID %>" class="checkbox-label" style="margin-top: 6px;" name="removeproviderforpatient" value="<%= providerEditData.ProviderID %>">
                                                                    </div>
                                                                    <div class="checkbox-item">
                                                                        <label for="providerAssign<%= providerEditData.ProviderID %>"><b>Remove</b> <%= providerEditData.ProviderFirstName %> <%= providerEditData.ProviderLastName %>, <%= providerEditData.ProviderTitle %></label>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                        <% }); %>

                                                        <!-- 
                                                            If the provider was not already assigned to the patient, 
                                                            then list the provider with the option to assign that
                                                            provider to the patient
                                                        -->
                                                        <% if(relationshipPatientProviderYes == 0) { %>

                                                            <!-- 
                                                                If there is NOT a relationship between the two entities in the
                                                                relationship table, then display the providers that were not
                                                                already assigned to the patient previously with the option to 
                                                                assign them to the patient if the user wishes to do so. 
                                                            -->
                                                            <div class="checkbox-structure">
                                                                <div class="checkbox-item">
                                                                    <input type="checkbox" id="providerAssign<%= providerEditData.ProviderID %>" class="checkbox-label" style="margin-top: 6px;" name="addproviderforpatient" value="<%= providerEditData.ProviderID %>">
                                                                </div>
                                                                <div class="checkbox-item">
                                                                    <label for="providerAssign<%= providerEditData.ProviderID %>"><b>Add</b> <%= providerEditData.ProviderFirstName %> <%= providerEditData.ProviderLastName %>, <%= providerEditData.ProviderTitle %></label>
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                    <% }); %>
                                                </div>
                                            </div>

                                        <% } else { %>
                                            <p class="patient-create-text-info">There are no available providers.</p>
                                        <% } %>
                                        <!-- ============================================================================= -->
                                    </div>

                                    <!-- Each column of the card displays different amounts of data --> 
                                    <div class="patient-edit-column">

                                        <!-- ============================================================================= -->
                                        <!-- SECTION FOR SELECTING ITEMS THAT WILL UPDATE THE JOIN PATIENT/TREATMENT -->
                                        <!-- TABLES IN THE DATABASE  -->
                                        <!-- ============================================================================= -->

                                        <!-- TREATMENT -->
                                        <!-- Include a script to add JavaScript for properly selecting/removing a given treatment for the patient -->
                                        <script>
                                            // Create a variable for determining if the selector is expanded or not.
                                            var expandedTreatment = false;

                                            // Create a function for showing the 
                                            // checkboxes within the selector.
                                            function showTreatmentEditCheckboxes() {

                                                // Create a variable that obtains the provider checkbox dropdown section.
                                                var checkboxes = document.getElementById("treatment-edit-checkboxes");
                                                
                                                // If the selector is not expanded, display the checkboxes
                                                // and set the expanded variable to the value of true.
                                                if (!expandedTreatment) {
                                                    checkboxes.style.display = "block";
                                                    expandedTreatment = true;

                                                // Otherwise, do not display the checkboxes and
                                                // set the expanded variable to the value of false.
                                                } else {
                                                    checkboxes.style.display = "none";
                                                    expandedTreatment = false;
                                                }
                                            }
                                        </script>

                                        <!-- 
                                            Provide the user with options to either select a treatment or 
                                            treatments for the given patient, or remove a treatment or
                                             treatments that were assigned for the given patient.
                                        -->
                                        <p class="patient-create-text-info" style="margin-top: 10px; margin-bottom: 0;"><b>Treatments:</b></p>

                                        <!-- 
                                            If there are treatments in the database, list them 
                                            as options for the user to select in order to assign 
                                            them to the patient 
                                        -->
                                        <% if(treatmentEditData.length != 0) { %>

                                            <!-- 
                                                Creae a div to show the treatment options 
                                                that the user can choose from
                                            -->
                                            <div>

                                                <!-- Create dropdown element so the user can click it and view/edit the different treatments -->
                                                <div class="selectBox patient-create-text-info" onclick="showTreatmentEditCheckboxes()">
                                                    <select>
                                                        <option>Add/Remove Treatments</option>
                                                    </select>
                                                    <div class="overSelect"></div>
                                                </div>
                                                <div id="treatment-edit-checkboxes" class="all-selector-checkboxes patient-create-text-info" style="display: none;">

                                                    <!-- 
                                                        Create a variable to determine if a given 
                                                        treatment is assigned to the patient being 
                                                        edited
                                                    -->
                                                    <% var relationshipPatientTreatmentYes = 0;%>
                                                    
                                                    <!-- 
                                                        Create a second for-each loop to check each treatment
                                                        in the Treatments table of the database. This helps 
                                                        in listing out the options for the user to choose 
                                                        from in the proper format.
                                                    -->
                                                    <% treatmentEditData.forEach(function(treatmentEditData) { %>

                                                        <!-- 
                                                            Set the variable that determines if a 
                                                            given treatment was assigned to a patient 
                                                            to ZERO 
                                                        -->
                                                        <% relationshipPatientTreatmentYes = 0; %>

                                                        <!-- 
                                                            Create a for-each loop that checks each item in the Receives_Treatment
                                                            table in order to determine which treatments can be assigned and which
                                                            treatments have already been assigned. 
                                                        -->
                                                        <% patientTreatmentJoinEditData.forEach(function(joinData) { %>
                                                        
                                                            <!-- 
                                                                If the treatment identifier matches the identifier in the Receives_Treatment
                                                                table, and the patient identifier matches the identifier in the 
                                                                Receives_Treatment table, then that means the treatment was previously
                                                                assigned to the patient.
                                                            -->
                                                            <% if(joinData.Receives_TreatmentID == treatmentEditData.TreatmentID && joinData.Receives_PatientID == data.PatientID) { %>
                                                                
                                                                <!-- 
                                                                    Set the variable that determines if a 
                                                                    given treatment was assigned to a patient 
                                                                    to ONE if the treatment was already assigned
                                                                    to that patient. 
                                                                -->
                                                                <% relationshipPatientTreatmentYes = 1; %>

                                                                <!-- 
                                                                    If there is a relationship between the two entities in the
                                                                    relationship table, then display the treatments that were
                                                                    assigned to the patient previously with the option to remove
                                                                    them if the user wishes to do so. 
                                                                -->
                                                                <div class="checkbox-structure">
                                                                    <div class="checkbox-item">
                                                                        <input type="checkbox" id="treatmentAssign<%= treatmentEditData.TreatmentID %>" class="checkbox-label" style="margin-top: 6px;" name="removetreatmentforpatient" value="<%= treatmentEditData.TreatmentID %>">
                                                                    </div>
                                                                    <div class="checkbox-item">
                                                                        <label for="treatmentAssign<%= treatmentEditData.TreatmentID %>"><b>Remove</b> <%= treatmentEditData.TreatmentName %></label>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                        <% }); %>

                                                        <!-- 
                                                            If the treatment was not already assigned to the patient, 
                                                            then list the treatment with the option to assign that
                                                            treatment to the patient
                                                        -->
                                                        <% if(relationshipPatientTreatmentYes == 0) { %>

                                                            <!-- 
                                                                If there is NOT a relationship between the two entities in the
                                                                relationship table, then display the treatments that were not
                                                                already assigned to the patient previously with the option to 
                                                                assign them to the patient if the user wishes to do so. 
                                                            -->
                                                            <div class="checkbox-structure">
                                                                <div class="checkbox-item">
                                                                    <input type="checkbox" id="treatmentAssign<%= treatmentEditData.TreatmentID %>" class="checkbox-label" style="margin-top: 6px;" name="addtreatmentforpatient" value="<%= treatmentEditData.TreatmentID %>">
                                                                </div>
                                                                <div class="checkbox-item">
                                                                    <label for="treatmentAssign<%= treatmentEditData.TreatmentID %>"><b>Add</b> <%= treatmentEditData.TreatmentName %></label>
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                    <% }); %>
                                                </div>
                                            </div>

                                        <% } else { %>
                                            <p class="patient-create-text-info">No available treatments.</p>
                                        <% } %>
                                        <!-- ============================================================================= -->

                                        <!-- Format the placeholder for the date admitted value -->
                                        <% var startDatePatient = simplifyDate(data.PatientStartDate); %>

                                        <p class="patient-edit-text-info"><b>Patient Risk Index:</b> <input placeholder="0-10" value="<%= data.PatientRiskIndex %>" type="number" class="" name="patientriskindex" size="5" maxlength="12" min="0" max="10" step="1"></p>
                                        <p class="patient-edit-text-info"><b>Phone:</b> <input placeholder="###-###-####" value="<%= data.PatientPhone %>" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="" name="patientphone" size="13" maxlength="12"></p>
                                        <p class="patient-edit-text-info"><b>Email:</b> <input placeholder="Enter Email" value="<%= data.PatientEmail %>" type="email" class="" name="patientemail" size="13"></p>
                                        <p class="patient-edit-text-info"><b>Admitted:</b> <input placeholder="<%= startDatePatient %>" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientstartdate" size="16"></p> 
                                        
                                        <!--
                                            If the patient does not have an end/discharge 
                                            date, display a message instead
                                        -->
                                        <% if(data.PatientEndDate) { %>
                                            <!-- 
                                                Format the placeholder for the date discharged value.
                                                Also create a variable that serves as a minimum value
                                                that can be entered for the patient end date. The value 
                                                of this variable is based on the value entered for the 
                                                patient start date (the patient end date must be on or 
                                                after the patient start date).
                                            -->
                                            <% var endDatePatient = simplifyDate(data.PatientEndDate); %>
                                            <% var minDateEntered = simplifyDateShorthand(data.PatientStartDate); %>

                                            <p class="patient-edit-text-info"><b>Discharged:</b> <input placeholder="<%= endDatePatient %>" onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientenddate" min=<%= minDateEntered %> size="16"></p> 
                                        <% } else { %>
                                            <p class="patient-edit-text-info"><b>Discharged:</b> <input placeholder="Currently in treatment." onfocus="(this.type='date')" onblur="(this.type='text')" class="date-input" name="patientenddate" size="16"></p> 
                                        <% } %>

                                        <!-- 
                                            Create a checkbox for providing the user with the option 
                                            to determine if the patient is currently undergoing treatment(s) 
                                        -->
                                        <p class="patient-edit-text-info" style="margin-bottom: 0;">
                                            <b>In Treatment:</b> 
                                            <div class="checkbox-structure">
                                                <div class="checkbox-item">
                                                    <input type="checkbox" id="patientcheckbox" class="checkbox-label" style="margin-top: 6px;" name="patientintreatment" value="In-Treatment">
                                                </div>
                                                <div class="checkbox-item">
                                                    <label for="patientcheckbox">Yes</label>
                                                </div>
                                            </div>
                                        </p> 
                                    </div>

                                    <!-- 
                                        Included here are the original values of the patient entity that the
                                        user wishes to update. This enables the user to update only certain
                                        attributes instead of having to provide a value for all inputs.
                                    -->
                                    <!-- This is the only attribute that you will use regardless of what is entered into the input! -->
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientid" value="<%= data.PatientID %>" onChange="getUpdateValue()">  

                                    <!-- The rest of the default identifiers are listed below -->
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientfirstname" value="<%= data.PatientFirstName %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientmiddlename" value="<%= data.PatientMiddleName %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientlastname" value="<%= data.PatientLastName %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientbirthdate" value="<%= data.PatientBirthdate %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientsex" value="<%= data.PatientSex %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientheight" value="<%= data.PatientHeight %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientweight" value="<%= data.PatientWeight %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientriskindex" value="<%= data.PatientRiskIndex %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientdescription" value="<%= data.PatientNotes %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientphone" value="<%= data.PatientPhone %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientemail" value="<%= data.PatientEmail %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientstartdate" value="<%= data.PatientStartDate %>" onChange="getUpdateValue()">  
                                    <input id="update_<%= data.PatientID %>" type="hidden" class="patientclass" name="defaultpatientenddate" value="<%= data.PatientEndDate %>" onChange="getUpdateValue()">  
                                </div>
                            <% }); %>

                            <!-- Create forms to process when user clicks the "Update Patient" button and the "Back" button -->
                            <div class="patient-edit-buttons">
                                <!-- The button brings the user back to the main list of patients on the website -->
                                <a id="patient-edit-icon1" class="all-button-container-one" href="/patients">
                                    <span class="patient-button-icon"><i class="fa-solid fa-circle-xmark"></i></span> Cancel
                                </a>

                                <!-- 
                                    The button, when clicked, triggers a process in which any form data entered into 
                                    the fields on the page by the user is gathered for the "patient-update" route 
                                -->
                                <button type="submit" id="patient-edit-icon2" class="all-button-container-two">
                                    <span class="patient-button-icon"><i class="fa-solid fa-circle-arrow-up"></i></span> Update
                                </button>
                            </div>
                        </form>

                    <!-- If there is no patient data, display the message -->
                    <% } else { %>
                        <h2 class="no-patient-edit-data">There is currently no patient data.</h2>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>