<!-- 
    The providers.ejs file displays the providers
    of the hospital are stored in the database. Each
    provider name as well as the attributes associated
    with that provider are displayed in a list format 
    on this page. Each provider entity on this page
    can be edited or removed. A new provider can  
    also be added to the databases through this page.
    It is important to note that a single provider 
    or multiple providers are related to all of the 
    patients and treatments in the hospital.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

    <!-- 
        Send a message to the user alterting them that they made 
        a change to the PROVIDER database. This message is only
        executed if the user created, updated, or removed (deleted)
        a provider.
    -->
    <% if(providerChange.length > 0) { %>
        <div class="providerElementToFadeInAndOut provider-message-format">
            <h1 class="provider-confirmation"><%= providerChange %></h1> 
        </div>
    <%  } %>

    <!-- Section for the list of providers on the webpage -->
    <section id="providers-page">
        <div class="fade-in">
            <header>
                <h1 class="provider-page-text">Providers</h1>
            </header>
            <div class="provider-ordering">
                <!-- Create forms to process when user clicks the "Add Provider" button and the "Back" button -->
                <div class="provider-buttons">
                    <a id="provider-back-arrow" class="all-button-container-one" href="/views">
                        <span class="provider-button-icon"><i class="fa-solid fa-arrow-left-long"></i></span> Back
                    </a>
                    <a id="provider-add-icon" class="all-button-container-two" href="/provider-new">
                        <span class="provider-button-icon"><i class="fa-solid fa-circle-plus"></i></span> New
                    </a>
                </div>

                <!-- 
                    This is the section where the provider data
                    is loaded to be displayed on the page
                -->
                <div class="provider-items">
                    
                    <!-- 
                        If there is data in the provider table 
                        of the database, display that data
                    -->
                    <% if(providerData.length != 0) { %>

                        <!-- 
                            Create a function to obtain the provider ID in order to 
                            perform an remove operation on any given provider entity.
                        -->
                        <% function getRemoveValue() { %>
                            
                            <% // Create variables to obtain the provider ID element. %>
                            <% var value = "remove_" + event.currentTarget.id; %>
                            <% var element = document.getElementById(value).value; %>
                        <% } %>

                        <!-- Include a function to simplify the date display -->
                        <% function simplifyDate(birthDate) { %>

                            <% // First split the event into the components that directly %>
                            <% // involve the numberical representations of a date. %>
                            <% var date = birthDate.toISOString().split("T")[0]; %>
                        
                            <% // Create variables for workring with %>
                            <% // the nubmers in the date variable. %>
                            <% var arrayDate = date.split('-'); %>
                            <% var day = arrayDate[2]; %>
                            <% var getMonth = arrayDate[1]; %>
                            <% var month = ""; %>
                            <% var year = arrayDate[0]; %>
                            <% var simplifiedDate = ""; %>
                        
                            <% // Use a series of conditionals to determine %>
                            <% // what the name of the month is based on the %>
                            <% // numerical representation of it. %>
                            <% if(getMonth.localeCompare('01') == 0) { %>
                                <% month = 'Jan'; %>
                            <% } else if(getMonth.localeCompare('02') == 0) { %>
                                <% month = 'Feb'; %>
                            <% } else if(getMonth.localeCompare('03') == 0) { %>
                                <% month = 'Mar'; %>
                            <% } else if(getMonth.localeCompare('04') == 0) { %>
                                <% month = 'Apr'; %>
                            <% } else if(getMonth.localeCompare('05') == 0) { %>
                                <% month = 'May'; %>
                            <% } else if(getMonth.localeCompare('06') == 0) { %>
                                <% month = 'Jun'; %>
                            <% } else if(getMonth.localeCompare('07') == 0) { %>
                                <% month = 'Jul'; %>
                            <% } else if(getMonth.localeCompare('08') == 0) { %>
                                <% month = 'Aug'; %>
                            <% } else if(getMonth.localeCompare('09') == 0) { %>
                                <% month = 'Sep'; %>
                            <% } else if(getMonth.localeCompare('10') == 0) { %>
                                <% month = 'Oct'; %>
                            <% } else if(getMonth.localeCompare('11') == 0) { %>
                                <% month = 'Nov'; %>
                            <% } else if(getMonth.localeCompare('12') == 0) { %>
                                <% month = 'Dec'; %>
                            <% } else { %>
                                <% month = 'ERROR'; %>
                            <% } %>
                        
                            <% // Create the simplified date and return it. %>
                            <% simplifiedDate = month + " " + day + ", " + year; %>
                            <% return simplifiedDate; %>
                        <% } %>

                        <!-- 
                            Include a function to obtain any given provider's time 
                            that they have worked at the hospital 
                        -->
                        <% function getProviderTimeAtHospital(startDate) { %>

                            <% // First split the event into the components that directly %>
                            <% // involve the numberical representations of a date. %>
                            <% var date = startDate.toISOString().split("T")[0]; %>
                        
                            <% // Create variables for workring with %>
                            <% // the values in the date variable. %>
                            <% // This will help with obtaining the %>
                            <% // provider's time at the hospital. %>
                            <% var arrayDate = date.split('-'); %>
                            <% var providerYearStarted = arrayDate[0]; %>
                            <% var simplifiedDate = ""; %>

                            <% // Obtain the current year. %>
                            <% var currentDate = new Date(); %>
                            <% var currentYear = currentDate.getFullYear(); %>
                        
                            <% // Obtain the amount of time the provider has worked %>
                            <% // at the hospital by subtracting the year that the %>
                            <% // provider started at the hospital from the current %>
                            <% // year, and return it. %>
                            <% var providerTimeAtHospital = currentYear - providerYearStarted; %>
                            <% return providerTimeAtHospital; %>
                        <% } %>

                        <!-- 
                            Loop through all of the providers in the 
                            database and display them on the page 
                        -->
                        <% providerData.forEach(function(data) { %>

                            <!--
                                Create a div to hold the button collapse function layout. 
                                The main components within this div include the main button
                                and the content that appears when the user clicks the button.
                            -->
                            <div>

                                <!-- Create a card for each provider -->
                                <!-- First, create a heading that displays the name of each provider -->
                                <div class="provider-name">

                                    <!-- 
                                        If the provider is no longer employed at the hospital, indicate 
                                        that they not employed there. Otherwise, indicate that they are
                                        currently employed.
                                    -->
                                    <h2 class="provider-name-text">

                                        <!-- Include a div to show the provider name and action buttons -->
                                        <div class="provider-name-and-buttons">

                                            <!-- 
                                                Display an icon indicating whether or not the provider has 
                                                been discharged from the hospital. Also include the provider's
                                                full name. // !!! MAY NOT HAVE LATER ON !!!
                                            -->
                                            <div class="provider-full-name">
                                                <!-- 
                                                    If the provider is not employed at the hospital anymore,
                                                    indicate that they are not working there. Otherwise, indicate
                                                    that they are working there. // !!! MAY NOT HAVE LATER ON !!!
                                                -->
                                                <i class="fa-solid fa-stethoscope"></i>

                                                <!-- <% // if(data.ProviderEndDate) { %>
                                                    <i class="fa-solid fa-heart-circle-check"></i>
                                                <% // } else { %>
                                                    <i class="fa-solid fa-heart-pulse"></i>
                                                <% // } %>  -->

                                                <%= data.ProviderFirstName %> <%= data.ProviderMiddleName %> <%= data.ProviderLastName %>, <%= data.ProviderTitle %>
                                            </div>

                                            <!-- Include action (edit and remove) buttons here -->
                                            <div class="provider-edit-remove-buttons">
                                                
                                                <!-- 
                                                    Include a button for expanding any provider's information.
                                                    This button is used to expand any provider module that is
                                                    listed in the database.
                                                -->
                                                <a class="provider-edit-white provider-edit-remove" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-providers<%= data.ProviderID %>" aria-expanded="false" aria-controls="collapse-providers<%= data.ProviderID %>">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </a>

                                                <!-- Include a button for the user to click when they wish to edit a provider -->
                                                <a class="provider-edit-white provider-edit-remove provider-edit-pencil" href="/provider-edit/<%= data.ProviderID %>">
                                                    <i class="fa-solid fa-pencil"></i>
                                                </a>

                                                <!-- 
                                                    Include a button for the user to click when they wish to remove a provider.
                                                    Clicking this button will open a modal that asks the user if they are sure
                                                    that they want to remove the provider. The user can then either confirm 
                                                    delete the provider from the database, or cancel the removal action.
                                                -->
                                                <a id="<%= data.ProviderID %>" class="remove-the-provider provider-edit-red provider-edit-remove" onClick="getProviderID(this.id)" href="#providerModal_<%= data.ProviderID %>">
                                                    
                                                    <!-- 
                                                        Include a script tag inside of the anchor tag to add event handlers to the
                                                        different elements associated with the "delete" button on each provider of
                                                        the providers page of the web application.
                                                    -->
                                                    <script>

                                                        // Utilize a query selector with JavaScript to add an event listener
                                                        // to each trash bin icon that is clicked by the user on the application.
                                                        [...document.querySelectorAll('.remove-the-provider')].forEach(function(trashBin) {
                                                            
                                                            // Add a click event listener to the trash bin icon
                                                            // so that when it is clicked, a modal pops up with
                                                            // a confirm delete option.
                                                            trashBin.addEventListener('click', function() {
                                                            
                                                                // Create variables for selecting 
                                                                // the correct confirm delete modal.
                                                                var modalValue = "providerModal_" + trashBin.id;
                                                                var exitModal = "provider-exit-" + trashBin.id;

                                                                // Add selectors for the confirm delete modal.
                                                                var confirmModal = document.getElementById(modalValue);

                                                                // When the user clicks the button, open 
                                                                // the provider confirm delete modal.
                                                                confirmModal.classList.add('provider-bg-active');
                                                                document.body.classList.add('overflowHidden');

                                                                // Select the exit icon on the confirm delete modal.
                                                                var exitIcon = document.getElementById(exitModal);

                                                                // When the user clicks the exit icon on the confirm 
                                                                // delete modal, close the modal on the screen.
                                                                exitIcon.onclick = function() {
                                                                    confirmModal.classList.remove('provider-bg-active');
                                                                    document.body.classList.remove('overflowHidden');
                                                                }

                                                                // If the user clicks anywhere outside
                                                                // the modal, close it and do not execute
                                                                // any of the functions in it.
                                                                window.onclick = function(event) {

                                                                    // When anything outside of the modal is clicked, 
                                                                    // close the modal. You can also click the "Cancel"
                                                                    // button to close the modal.
                                                                    if (event.target == confirmModal) {
                                                                        confirmModal.classList.remove('provider-bg-active');
                                                                        document.body.classList.remove('overflowHidden');
                                                                
                                                                    }
                                                                }
                                                            });
                                                        });
                                                    </script>

                                                    <!-- Include a trash bin icon for each provider -->
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>

                                                <!-- 
                                                    Include a MODAL that the user can click to confirm whether or not not they 
                                                    wish to remove the selected provider entity from the database 
                                                -->
                                                <div id="providerModal_<%= data.ProviderID %>" role="dialog" class="provider-modal-bg">
                                                    <div class="provider-modal-dialog">
                                                        <div class="provider-modal-container"> 
                                                            <!-- Modal Information and Content -->
                                                            <div class="provider-modal-information">
                                                                <div class="provider-modal-content">
                                                                    <div>
                                                                        <div class="provider-modal-body">
                                                                            <!-- Include a div for showing the "Cancel" and "Confirm" button on the modal -->
                                                                            <div>
                                                                                <!-- Heading -->
                                                                                <div class="provider-modal-heading-background">
                                                                                    <h2 class="provider-modal-heading">Confirm</h2>
                                                                                </div>      
                                                                                
                                                                                <!-- Description -->
                                                                                <div class="provider-modal-text-background">
                                                                                    <p class="provider-modal-text">Are you sure you want to delete provider: <strong><%= data.ProviderFirstName %> <%= data.ProviderMiddleName %> <%= data.ProviderLastName %> <%= data.ProviderTitle %></strong>?</p>
                                                                                </div>

                                                                                <!-- Include a div for the two buttons on the modal -->
                                                                                <div class="provider-confirm-delete-select">
                                                                                    <!-- Provide a "Cancel" button if the user wishes to cancel the delete action -->
                                                                                    <a id="provider-exit-<%= data.ProviderID %>" class="provider-edit-white-modal provider-edit-remove-modal" href="#close">
                                                                                        Cancel
                                                                                    </a>
                                                                                    <!-- Makes POST request to the remove-provider route if the "Confirm Delete" button is clicked -->
                                                                                    <form class="form-horizontal" action="/provider-remove" method="POST">
                                                                                        <input id="remove_<%= data.ProviderID %>" type="hidden" class="providerclass" name="provideridentifier" value="<%= data.ProviderID %>" onChange="getRemoveValue()">
                                                                                        <button type="submit" class="provider-edit-red-modal provider-edit-remove-modal">Delete</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>

                                            </div>
                                        </div>
                                    </h2>
                                </div>

                                <!-- Create the main-content portion of the provider card -->
                                <div id="collapse-providers<%= data.ProviderID %>" class="collapse">
                                   
                                    <!-- 
                                        Include a wrapper div for the collapse div. This helps 
                                        ensure that the transition from closed to open is smooth.
                                    -->
                                    <div class="provider-card">
                                        <!-- Each column of the card displays different amounts of data -->
                                        <div class="provider-column">
                                            <p class="provider-text-info"><b>Phone:</b> <%= data.ProviderPhone %></p>
                                            <p class="provider-text-info"><b>Email:</b> <%= data.ProviderEmail %></p>
                                            <p class="provider-text-info"><b>Description:</b> <%= data.ProviderDescription %></p> 
                                       
                                            <!-- ========================================================== -->
                                            <!-- List out the PATIENTS that the given provider was assigned to -->
                                            <!-- ========================================================== -->
                                            <p class="patient-text-info" style="margin-bottom: 0;"><b>Patients:</b></p>
                                            
                                            <!-- 
                                                Check if there is any data in the Cares_For table. 
                                                If there is no data in the Cares_For table, display
                                                a message instead.
                                            -->
                                            <% if(patientProviderJoinData.length != 0) { %>

                                                <!-- Create a variable to determine if there are any patients that the provider is caring for -->
                                                <% var hasRelationshipPatients = 0; %>
                                                
                                                <!-- 
                                                    Create a for-each loop that checks each provider ID 
                                                    in the Cares_For table and determines if that provider 
                                                    was assigned to a patient or multiple patients
                                                -->
                                                <% patientProviderJoinData.forEach(function(joinData) { %>
                                                
                                                    <!-- 
                                                        If there is a patient identifier in the Cares_For table,
                                                        then the patient was assigned a provider. Therefore,
                                                        within the conditional, create another for-each loop
                                                        that finds which provider was assigned to the patient.
                                                    -->
                                                    <% if(joinData.Cares_ProviderID == data.ProviderID) { %>

                                                        <!-- 
                                                            Create a second for-each loop to determine which patients
                                                            are being cared for by the given provider.
                                                        -->
                                                        <% patientData.forEach(function(patientData) { %>

                                                            <!-- 
                                                                If the patient identifier matches the identifier in the Cares_For 
                                                                table, then list that patient as a patient that the provider is
                                                                caring for.
                                                            -->
                                                            <% if(joinData.Cares_PatientID == patientData.PatientID) { %>

                                                                <!-- 
                                                                    If there is a relationship, indicating that at least one patient 
                                                                    is being cared for by the given provider, then set the variable 
                                                                    checking forrelationships to one. This will ensure that the message
                                                                    that indicates that no patients are being cared for by the given 
                                                                    provider is NOT printed out 
                                                                -->
                                                                <% hasRelationshipPatients = 1; %>
                                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;"><%= patientData.PatientFirstName %> <%= patientData.PatientMiddleName %> <%= patientData.PatientLastName %></p>
                                                            <% } %>

                                                        <% }); %>

                                                    <% } %>
                                                <% }); %>

                                                <!-- If there were no providers assigned to the patient, print out a message instead -->
                                                <% if(hasRelationshipPatients == 0) { %>
                                                    <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">Assigned to no patients.</p>
                                                <% } %>

                                            <!-- Display the message if no items exist in Cares_For table -->
                                            <% } else { %>
                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">Assigned to no patients.</p>
                                            <% } %>
                                            <!-- ========================================================== -->
                                        </div>

                                        <!-- Each column of the card displays different amounts of data -->
                                        <div class="provider-column" style="margin-right: 0;">
                                            
                                            <!-- ========================================================== -->
                                            <!-- List out the DEPARTMENTS that the provider belongs to -->
                                            <!-- ========================================================== -->
                                            <p class="patient-text-info" style="margin-bottom: 0;"><b>Department:</b></p>
                                            
                                            <!-- 
                                                Check if there is any data in the Part_Of table. 
                                                If there is no data in the Part_Of table, display
                                                a message instead.
                                            -->
                                            <% if(providerDepartmentJoinData.length != 0) { %>

                                                <!-- Create a variable to determine if there are any departments that a given provider belongs to -->
                                                <% var hasRelationshipDepartment = 0; %>
                                                
                                                <!-- 
                                                    Create a for-each loop that checks each provider ID 
                                                    in the Part_Of table and determines if that provider
                                                    belongs to a department.
                                                -->
                                                <% providerDepartmentJoinData.forEach(function(joinData) { %>
                                                
                                                    <!-- 
                                                        If there is a provider identifier in the Part_Of table,
                                                        then the provider belongs to a department. Therefore,
                                                        within the conditional, create another for-each loop
                                                        that finds which department the provider belongs to.
                                                    -->
                                                    <% if(joinData.Part_ProviderID == data.ProviderID) { %>

                                                        <!-- 
                                                            Create a second for-each loop to determine which
                                                            department the provider belongs to.
                                                        -->
                                                        <% departmentData.forEach(function(departmentData) { %>

                                                            <!-- 
                                                                If the department identifier matches the identifier in the Part_Of
                                                                table, then list that department as a department that the given 
                                                                provider belongs to.
                                                            -->
                                                            <% if(joinData.Part_DepartmentID == departmentData.DepartmentID) { %>

                                                                <!-- 
                                                                    If there is a relationship, indicating that the provider  
                                                                    belongs to the department, then set the variable checking 
                                                                    relationships to one. This will ensure that the message 
                                                                    that indicates that the provider does not belong to any 
                                                                    departments is NOT printed out.
                                                                -->
                                                                <% hasRelationshipDepartment = 1; %>
                                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;"><%= departmentData.DepartmentName %></p>
                                                            <% } %>

                                                        <% }); %>

                                                    <% } %>
                                                <% }); %>

                                                <!-- If there are no departments that the provider belongs to, print out a message instead -->
                                                <% if(hasRelationshipDepartment == 0) { %>
                                                    <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">Assigned to no department.</p>
                                                <% } %>

                                            <!-- Display the message if no items exist in Part_Of table -->
                                            <% } else { %>
                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">Assigned to no department.</p>
                                            <% } %>

                                            <!-- ========================================================== -->
                                            <!-- List out the TREATMENTS that the provider can administer -->
                                            <!-- ========================================================== -->
                                            <p class="patient-text-info" style="margin-bottom: 0;"><b>Authorized Treatments:</b></p>
                                            
                                            <!-- 
                                                Check if there is any data in the Administers_Treatment table. 
                                                If there is no data in the Administers_Treatment table, display
                                                a message instead.
                                            -->
                                            <% if(providerTreatmentJoinData.length != 0) { %>

                                                <!-- Create a variable to determine if there are any treatments that a given provider can administer -->
                                                <% var hasRelationshipTreatment = 0; %>
                                                
                                                <!-- 
                                                    Create a for-each loop that checks each provider ID 
                                                    in the Administers_Treatment table and determines if 
                                                    that provider can administer any treatments
                                                -->
                                                <% providerTreatmentJoinData.forEach(function(joinData) { %>
                                                
                                                    <!-- 
                                                        If there is a provider identifier in the Administers_Treatmemt
                                                        table, then the provider can administer at least one treatment.
                                                        Therefore, within the conditional, create another for-each 
                                                        loop that finds which treatments the provider can administer.
                                                    -->
                                                    <% if(joinData.Administers_ProviderID == data.ProviderID) { %>

                                                        <!-- 
                                                            Create a second for-each loop to determine which
                                                            treatments the provider can administer.
                                                        -->
                                                        <% treatmentData.forEach(function(treatmentData) { %>

                                                            <!-- 
                                                                If the treatment identifier matches the identifier in the Administers_Treatment
                                                                table, then list that treatment as a treatment that the given provider can 
                                                                administer.
                                                            -->
                                                            <% if(joinData.Administers_TreatmentID == treatmentData.TreatmentID) { %>

                                                                <!-- 
                                                                    If there is a relationship, indicating that the provider  
                                                                    can administer the given treatment, then set the variable  
                                                                    checking relationships to one. This will ensure that the  
                                                                    message that indicates that the provider can not administer 
                                                                    any treatments is NOT printed out.
                                                                -->
                                                                <% hasRelationshipTreatment = 1; %>
                                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;"><%= treatmentData.TreatmentName %></p>
                                                            <% } %>

                                                        <% }); %>

                                                    <% } %>
                                                <% }); %>

                                                <!-- If there are no treatments that the provider is authorized to administer, print out a message instead -->
                                                <% if(hasRelationshipTreatment == 0) { %>
                                                    <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">None.</p>
                                                <% } %>

                                            <!-- Display the message if no items exist in Administers_Treatment table -->
                                            <% } else { %>
                                                <p class="patient-text-info" style="margin-top: 0; margin-bottom: 0;">None.</p>
                                            <% } %>
                                            <!-- ========================================================== -->

                                            <!-- 
                                                Determine if the duration of time at the hospital that the 
                                                provider has been employed for is less than a year. If the 
                                                provider has been employed for less than a year, print out 
                                                that they have been employed for less than a year 
                                            -->
                                            <% var providerTimeAtHospital = getProviderTimeAtHospital(data.ProviderStartDate); %>
                                            
                                            <!-- Determine if the provider has been at the hospital for less than a year -->
                                            <% if(providerTimeAtHospital < 1) { %>
                                                <p class="provider-text-info"><b>Time at Hospital:</b> Less than a year</p>
                                            <% } else { %>
                                                <p class="provider-text-info"><b>Time at Hospital:</b> <%= getProviderTimeAtHospital(data.ProviderStartDate) %>yrs</p>
                                            <% } %>

                                            <!-- Print out the rest of the provider information -->
                                            <p class="provider-text-info"><b>Start Date:</b> <%= simplifyDate(data.ProviderStartDate) %></p>
                                            
                                            <!--
                                                If the provider does not have an end/discharge 
                                                date, display a message instead
                                            -->
                                            <% if(data.ProviderEndDate) { %>
                                                <p class="provider-text-info"><b>End Date:</b> <%= simplifyDate(data.ProviderEndDate) %></p> 
                                            <% } else { %>
                                                <p class="provider-text-info"><b>End Date:</b> Currently employed.</p> 
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>

                    <!-- If there is no provider data, display the message -->
                    <% } else { %>
                        <h2 class="no-provider-data">There is currently no provider data.</h2>
                    <% } %>
                </div>
            </div>

            <!-- 
                Include a div that displays a chevron that the
                user can click to return to the top of the page
            -->
            <div>
                <!-- Include a button for the user to click to go to the top of the page -->
                <a class="provider-bottom provider-bottom-color" style="font-size: 16px !important;" href="#providers-page">
                    <i class="fa-solid fa-chevron-up fa-1.5x"></i>
                </a>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>