<!-- 
    The treatments.ejs file displays the treatments
    of the hospital are stored in the database. Each
    treatment name as well as the attributes associated
    with that treatment are displayed in a list format 
    on this page. Each treatment entity on this page
    can be edited or removed. A new treatment can  
    also be added to the databases through this page.
    It is important to note that a single treatment 
    or multiple treatments are related to all of the 
    patients and providers (medical staff) of the 
    hospital.
    ...
    Project: Mayo Clinic Patient Care Manager 
             (PCM) Web Application
    Author: Andrew Krause
    Class: Introduction to Database 
           Management Systems (CS 364)
    Date: 5/10/2022
    ...
-->

<%- include('./partials/header.ejs') %>

     <!-- 
        Send a message to the user alterting them that they made 
        a change to the TREATMENT database. This messages is only
        executed if the user created, updated, or removed (deleted)
        a treatment.
    -->
    <% if(treatmentChange.length > 0) { %>
        <div class="treatmentElementToFadeInAndOut treatment-message-format">
            <h1 class="treatment-confirmation"><%= treatmentChange %></h1> 
        </div>
    <%  } %>

    <!-- Section for the list of treatments on the webpage -->
    <section id="treatments-page">
        <div class="fade-in">
            <header>
                <h1 class="treatment-page-text">Treatments</h1>
            </header>
            <div class="treatment-ordering">
                <!-- Create forms to process when user clicks the "Add Treatment" button and the "Back" button -->
                <div class="treatment-buttons">
                    <a id="treatment-back-arrow" class="all-button-container-one" href="/views">
                        <span class="treatment-button-icon"><i class="fa-solid fa-arrow-left-long"></i></span> Back
                    </a>
                    <a id="treatment-add-icon" class="all-button-container-two" href="/treatment-new">
                        <span class="treatment-button-icon"><i class="fa-solid fa-circle-plus"></i></span> New
                    </a>
                </div>

                <!-- 
                    This is the section where the treatment data
                    is loaded to be displayed on the page
                -->
                <div class="treatment-items">
                    
                    <!-- 
                        If there is data in the treatment table 
                        of the database, display that data
                    -->
                    <% if(treatmentData.length != 0) { %>

                        <!-- 
                            Create a function to obtain the treatment ID in order to 
                            perform an remove operation on any given treatment entity.
                        -->
                        <% function getRemoveValue() { %>
                            
                            <% // Create variables to obtain the treatment ID element. %>
                            <% var value = "remove_" + event.currentTarget.id; %>
                            <% var element = document.getElementById(value).value; %>
                        <% } %>

                        <!-- 
                            Loop through all of the treatments in the 
                            database and display them on the page 
                        -->
                        <% treatmentData.forEach(function(data) { %>

                            <!--
                                Create a div to hold the button collapse function layout. 
                                The main components within this div include the main button
                                and the content that appears when the user clicks the button.
                            -->
                            <div>

                                <!-- Create a card for each treatment -->
                                <!-- First, create a heading that displays the name of each treatment -->
                                <div class="treatment-name">

                                    <!-- 
                                        If the treatment has been discharged from treatment, print out an
                                        icon to indicate that they are done being treated. Otherwise, print
                                        out an icon to indicate that they are currently in treatment.
                                    -->
                                    <h2 class="treatment-name-text">

                                        <!-- Include a div to show the treatment name and action buttons -->
                                        <div class="treatment-name-and-buttons">

                                            <!-- Display a treatment icon along with the name -->
                                            <div class="treatment-full-name">
                                                
                                                <!-- The treatment name is displayed here -->
                                                <i class="fa-solid fa-flask"></i> <%= data.TreatmentName %>
                                            </div>

                                            <!-- Include action (edit and remove) buttons here -->
                                            <div class="treatment-edit-remove-buttons">
                                                
                                                <!-- 
                                                    Include a button for expanding any treatment's information.
                                                    This button is used to expand any treatment module that is
                                                    listed in the database.
                                                -->
                                                <a class="treatment-edit-white treatment-edit-remove" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-treatments<%= data.TreatmentID %>" aria-expanded="false" aria-controls="collapse-treatments<%= data.TreatmentID %>">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </a>

                                                <!-- Include a button for the user to click when they wish to edit a treatment -->
                                                <a class="treatment-edit-white treatment-edit-remove treatment-edit-pencil" href="/treatment-edit/<%= data.TreatmentID %>">
                                                    <i class="fa-solid fa-pencil"></i>
                                                </a>

                                                <!-- 
                                                    Include a button for the user to click when they wish to remove a treatment.
                                                    Clicking this button will open a modal that asks the user if they are sure
                                                    that they want to remove the treatment. The user can then either confirm 
                                                    delete the treatment from the database, or cancel the removal action.
                                                -->
                                                <a id="<%= data.TreatmentID %>" class="remove-the-treatment treatment-edit-red treatment-edit-remove" onClick="getTreatmentID(this.id)" href="#treatmentModal_<%= data.TreatmentID %>">
                                                    
                                                    <!-- 
                                                        Include a script tag inside of the anchor tag to add event handlers to the
                                                        different elements associated with the "delete" button on each treatment of
                                                        the treatments page of the web application.
                                                    -->
                                                    <script>

                                                        // Utilize a query selector with JavaScript to add an event listener
                                                        // to each trash bin icon that is clicked by the user on the application.
                                                        [...document.querySelectorAll('.remove-the-treatment')].forEach(function(trashBin) {
                                                            
                                                            // Add a click event listener to the trash bin icon
                                                            // so that when it is clicked, a modal pops up with
                                                            // a confirm delete option.
                                                            trashBin.addEventListener('click', function() {
                                                            
                                                                // Create variables for selecting 
                                                                // the correct confirm delete modal.
                                                                var modalValue = "treatmentModal_" + trashBin.id;
                                                                var exitModal = "treatment-exit-" + trashBin.id;

                                                                // Add selectors for the confirm delete modal.
                                                                var confirmModal = document.getElementById(modalValue);

                                                                // When the user clicks the button, open 
                                                                // the treatment confirm delete modal.
                                                                confirmModal.classList.add('treatment-bg-active');
                                                                document.body.classList.add('overflowHidden');

                                                                // Select the exit icon on the confirm delete modal.
                                                                var exitIcon = document.getElementById(exitModal);

                                                                // When the user clicks the exit icon on the confirm 
                                                                // delete modal, close the modal on the screen.
                                                                exitIcon.onclick = function() {
                                                                    confirmModal.classList.remove('treatment-bg-active');
                                                                    document.body.classList.remove('overflowHidden');
                                                                }

                                                                // If the user clicks anywhere outside
                                                                // the modal, close it and do not execute
                                                                // any of the functions in it.
                                                                window.onclick = function(event) {

                                                                    // When anything outside of the modal is clicked, 
                                                                    // close the modal. You can also click the "Cancel"
                                                                    // button to close the modal.
                                                                    if (event.target == confirmModal) {
                                                                        confirmModal.classList.remove('treatment-bg-active');
                                                                        document.body.classList.remove('overflowHidden');
                                                                
                                                                    }
                                                                }
                                                            });
                                                        });
                                                    </script>

                                                    <!-- Include a trash bin icon for each treatment -->
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>

                                                <!-- 
                                                    Include a MODAL that the user can click to confirm whether or not not they 
                                                    wish to remove the selected treatment entity from the database 
                                                -->
                                                <div id="treatmentModal_<%= data.TreatmentID %>" role="dialog" class="treatment-modal-bg">
                                                    <div class="treatment-modal-dialog">
                                                        <div class="treatment-modal-container"> 
                                                            <!-- Modal Information and Content -->
                                                            <div class="treatment-modal-information">
                                                                <div class="treatment-modal-content">
                                                                    <div>
                                                                        <div class="treatment-modal-body">
                                                                            <!-- Include a div for showing the "Cancel" and "Confirm" button on the modal -->
                                                                            <div>
                                                                                <!-- Heading -->
                                                                                <div class="treatment-modal-heading-background">
                                                                                    <h2 class="treatment-modal-heading">Confirm</h2>
                                                                                </div>      
                                                                                
                                                                                <!-- Description -->
                                                                                <div class="treatment-modal-text-background">
                                                                                    <p class="treatment-modal-text">Are you sure you want to delete treatment: <strong><%= data.TreatmentName %></strong>?</p>
                                                                                </div>

                                                                                <!-- Include a div for the two buttons on the modal -->
                                                                                <div class="treatment-confirm-delete-select">
                                                                                    <!-- Provide a "Cancel" button if the user wishes to cancel the delete action -->
                                                                                    <a id="treatment-exit-<%= data.TreatmentID %>" class="treatment-edit-white-modal treatment-edit-remove-modal" href="#close">
                                                                                        Cancel
                                                                                    </a>
                                                                                    <!-- Makes POST request to the remove-treatment route if the "Confirm Delete" button is clicked -->
                                                                                    <form class="form-horizontal" action="/treatment-remove" method="POST">
                                                                                        <input id="remove_<%= data.TreatmentID %>" type="hidden" class="treatmentclass" name="treatmentidentifier" value="<%= data.TreatmentID %>" onChange="getRemoveValue()">
                                                                                        <button type="submit" class="treatment-edit-red-modal treatment-edit-remove-modal">Delete</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>

                                            </div>
                                        </div>
                                    </h2>
                                </div>

                                <!-- Create the main-content portion of the treatment card -->
                                <div id="collapse-treatments<%= data.TreatmentID %>" class="collapse">
                                   
                                    <!-- 
                                        Include a wrapper div for the collapse div. This helps 
                                        ensure that the transition from closed to open is smooth.
                                    -->
                                    <div class="treatment-card">
                                        <!-- Each column of the card displays different amounts of data -->
                                        <div class="treatment-column">
                                            <p class="treatment-text-info"><b>Requirements:</b> <%= data.TreatmentRequirements %></p>
                                            <p class="treatment-text-info"><b>Description:</b> <%= data.TreatmentDescription %></p>
                                        </div>
                                        <!-- Each column of the card displays different amounts of data -->
                                        <div class="treatment-column" style="margin-right: 0;">
                                            <p class="treatment-text-info"><b>Risk Index:</b> <%= data.TreatmentRiskIndex %>/10</p>
                                            <p class="treatment-text-info"><b>Tools:</b> <%= data.TreatmentTools %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>

                    <!-- If there is no treatment data, display the message -->
                    <% } else { %>
                        <h2 class="no-treatment-data">There is currently no treatment data.</h2>
                    <% } %>
                </div>
            </div>

            <!-- 
                Include a div that displays a chevron that the
                user can click to return to the top of the page
            -->
            <div>
                <!-- Include a button for the user to click to go to the top of the page -->
                <a class="treatment-bottom treatment-bottom-color" style="font-size: 16px !important;" href="#treatments-page">
                    <i class="fa-solid fa-chevron-up fa-1.5x"></i>
                </a>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>